# Директории с артефактами сборки
/build/
/dist/
/out/

# Логи
*.log

# Файлы конфигурации, специфичные для окружения
*.env
*.yaml

# Директории с зависимостями
/node_modules/
/vendor/

# Кэш и временные файлы
.DS_Store
Thumbs.db
*.tmp

# Секреты и ключи
secrets/*
