# Директории с артефактами сборки
/build/
/target/
/out/

# Логи Jenkins
*.log
jenkins.log

# Конфигурационные файлы Jenkins
*.xml
*.yaml
*.yml

# Директории с зависимостями
/node_modules/
/vendor/

# Кэш и временные файлы
.DS_Store
Thumbs.db
*.tmp

# Секреты и ключи
secrets/
credentials/
.env

# Папка с плагинами Jenkins (если используется локально)
/plugins/

# Файлы настроек IDE
.idea/
*.iml
*.sublime-workspace
*.sublime-project

# Другие временные файлы
*.swp
*.bak
